body{
	margin: 0 auto;
	padding 0;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 62.5%;
	color: #201913
}

img{
	border: 0;
}

fieldset { 
    padding:0; 
    border:0; 
    margin-top:25px; 
}

textarea{
    margin-bottom:12px; 
    width:95%; 
    height:95%; 
    padding: .4em; 
}

ul#navlist{
    width: 80%;
    display: inline;
    list-style: none;
}

ul#navlist li{
    display: inline;
    list-style: none;
}

#content{
	margin-left: auto ;
  	margin-right: auto ;
	margin-top: 50px;
}

#main{
	margin-top: 20px;
}

#results{
	margin: 20px;
}

#spinner {
	  display: none;
	  position: relative;
}

#query{
	width: 60%;
}

#map{
	margin-left: auto ;
  	margin-right: auto ;
	width: 60%;
	height: 500px;
}

#findRule{
    display: none;
}

#results, #node{
    font-size: 120%;
    text-align: left;
}

.margin{
    margin-left: 15%;
    margin-right: 15%;
}

.wrong {
    font-weight:bold;
    font-size: 12px;
    
}
