{% extends 'base.html' %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/node.js"></script>
{% endblock %}

{% block content %}

<div id="main">
	<br/>
	<div class="margin">
		<span id="spinner"><img src="{{ MEDIA_URL }}imgs/spinner.gif"/></span>
		<div id="node">
		    <b>{{ node_type|upper }}</b><br>
		    {% for key, value in node_info.items %}
                {{ key }}: {{ value }}<br>
            {% endfor %}
            <br>
            <br>
            <div id="links">
                {% for key in node_links %}
                    <a href="{{ ENGINE_URL }}{{ key.id }}">{{ key.name }}</a><br>
                {% endfor %}
            </div>
            <br>
            <br>
		</div>
		<button id="opener" class="ui-state-default ui-corner-all">Click-me</button>
		<div id="dialog" title="Basic dialog">
		    <form>
	        <fieldset>
		        <label for="text">What's wrong ?</label>
		        <textarea name="text" id="text" cols="40" rows="7" class="textarea ui-widget-content ui-corner-all" ></textarea>
	        </fieldset>
	        </form>
        </div>
	</div>
</div>
{% endblock %}
