<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/error.css">
		<title>Internal Server Error - 500</title>
	</head>
	<body>
	    <div id="main">
	    <h1>Oops !</h1>
	    <p>Sorry, but it seems that something went wrong.<br>
	    For more information, see the log file and go back to <a href="{% url engine.views.web_handler %}">main page</a>.</p>
	    </div>
	</body>
</html>
