<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/main.css">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.11.custom.css">
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.11.custom.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>
    {% block extra_js %}{% endblock %}
    <title>{% block title %}Airports{% endblock %}</title>
</head>

<body>
    <div id="content">
    	<a href="#"><img src="{{ MEDIA_URL }}imgs/airports.gif" ></a>
        {% block content %}{% endblock %}
    </div>

</body>
</html>
