<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/error.css">
		<title>File Not Found - 404</title>
	</head>
	<body>
	    <div id="main">
	    <h1>Not Found !</h1>
	    <p>Sorry, the page you're looking for doesn't exist.<br>
	    Try going back to the <a href="{% url engine.views.web_handler %}">main page</a>.</p>
	    </div>
	</body>
</html>
